
.footer{
    text-align: center;
    background-color: #aa9b9b; 
    padding: 0%;
    /*color: #ffffff;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.carrera{
    color: #f5f5f5;
    text-decoration: underline; /* subrayar el texto */
    cursor: pointer;
}
