.header{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0%;
  background-color:  beige;
}
.titulos{  
  margin: 0%;
  padding-top: 5%;
  text-align: center;  
  color: black;
  font-size: 200%;
  
}